/* =============
    Demo
============= */

.stick{
    border-top: 10px solid $brown;
    width: 800px;
   
 }
 
 .circle-1{
     height: 200px;
     width: 200px;
     border-radius: 50%;
     background-color: $green;
 }
 
 .circle-2{
     height: 200px;
     width: 200px;
     border-radius: 50%;
     background-color: $cream;
 }
 
 .circle-3{
     height: 200px;
     width: 200px;
     border-radius: 50%;
     background-color: $pink;
 }