/* =============
    Demo
============= */

#demo{
    display: grid;
    grid-template-columns: auto 80% auto;
    grid-template-areas: ". demo .";
    background-color: #FFFDEC;

    >div{
        grid-area: demo;

        svg{
            // border: 3px solid #000;

        }
    }
}